@media (min-width: 992px) {
  * {
    box-sizing: border-box;
    font-family: "Roboto";
  }
  body {
    margin: 0px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 50%, 50%;
    
  }
  .caption {
    color: violet;
  }
  h1 {
    font-size: 40px;
    margin-top: 0px;
    color: #530954;
  }
  .details-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0px;
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    width: 72%;
    padding: 0px;
  }

  .card-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #530954;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container1 {
    position: relative;
    top: 40px;
  }
  .container2 {
    position: relative;
    top: 50px;
  }
  .container3 {
    position: relative;
    top: 60px;
  }
  .ratings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .rating {
    margin-left: 20px;
    margin-top: 10px;
    color: #530954;
    font-weight: bold;
  }
  .rating-container {
    background-color: #f0ebf0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
  }
  .rating1 {
    position: relative;
    right: 100px;
  }
  .rating2 {
    position: relative;
    right: 50px;
  }
  .image-container {
    display: flex;
    justify-content: flex-start;
  }
  .name {
    margin: 0px;
  }
  .caption {
    margin: 0px;
  }
  img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-right: 20px;
  }
  .person-details {
    padding-top: 0px;
  }

  .description {
    color: #4d4848;
  }
}
